h1{
	font-size:26 px;
	font-family:arial;
	color:gray;
	font-weight:700;
}
h2{
	font-size:20 px;
	font-family:verdana;
	color:#ff1205;
	font-weight:400;
	
}
p ,div{
	font-size:13 px;
	font-family:arial;
	color:#b8b6b6;
	font-weight:100;
	
}